body {
  font-family: 'Libre Baskerville', serif;
  height: 100vh;
  min-width: 100vw;
}

.App {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr 1fr;
}

.header {
  grid-column: 1 / -1;
  padding: 20px;
  background-color: rgba(65, 255, 214, 0.8);
}


.main {
  grid-column: 1 / -1;
  padding: 30px;
  display: flex;
  justify-content: center;
}

.footer {
  grid-column: 1 / -1;
  padding: 20px;
  background-color: rgba(132, 220, 198, 0.8)
}

h1 {
  font-size: 35px;
}
h2 {
  font-size: 25px;
  text-align: center;
}

p {
  font-size: 20px;

}

.link {
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: 700;
}

.link:hover {
  text-decoration: none;
  color: rgba(255, 104, 107, 0.8);
  transform: scale(1.2);
}

a {
  text-decoration: none;
  color: black;
}


/* Header */
.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}
@media only screen and (max-width: 450px) {
  .header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
  }
}
.app-title{
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


.nav-button {
  padding: 0 20px;
 
}

.nav-button:hover {
  text-decoration: none;
  color: rgba(255, 104, 107, 0.8);
  transform: scale(1.2);
}

/* About */
.about-me{
  text-align: center;
  padding: 20px;
}
.about-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.prof-pic {
  max-width: 400px;
  border-radius: 20px;
}

.bio {
  margin: 40px;
  max-width: 800px;
  padding: 10px 15px;
  background: rgba(255, 104, 107, 0.8);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  
}

/* Projects */

.projects-container{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.project-header{
  text-align: center;
}

.all-projects {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.project-box{
  padding: 20px;
  margin: 20px;
  max-width: 350px;
  transition-duration: 0.5s;

}

.project-box:hover {
  text-decoration: none;
  background: rgba(255, 166, 158, 0.8);
  transform: scale(1.2);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
}

/* footer */
.contact-container{
  text-align: center;
}

.social-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.social-links {
  margin: 10px;
  font-weight: 700;
}

.social-links:hover{
  text-decoration: none;
  color: rgba(255, 104, 107, 0.8);
  transform: scale(1.2);
}